{{!< default}}

{{#post}}
		<div class="article">
			<h4><a href="#">{{title}}</a></h4>
			<div class="article-metadata">
			</div>
			<div class="article-content">
				{{content}}
			</div>
		</div>
{{/post}}
